{% extends "master-template.html" %}
{% block title %}{{ mode.get_full_name() }} Game {{ game_id }}{% endblock %}

{% block head %}
<link href="/game-static/css/gamelog.css" rel="stylesheet">
<meta name="description"
    content="Read the overview of this game of {{ mode.get_full_name() }} on {{ map }}. Or play by connecting to playkig.com.">
<meta name="og:title" content="{{ mode.get_full_name() }}: Game {{ game_id }}">
<meta name="og:url" content="https://playkig.com/game/{{ mode.get_database_id() }}/{{ game_id }}">
<meta name="og:image"
    content="https://playkig.com/game-img/maps/{{ mode.get_database_id() }}/{{ map|map_file_name }}.png">
<meta name="og:description"
    content="Read the overview of this game of {{ mode.get_full_name() }} on {{ map }}. Or play by connecting to playkig.com.">
<meta name="og:site_name" content="KIG Network">
<meta name="twitter:card" content="summary">
<meta name="og:type" content="website">
<meta name="theme-color" content="#f7b32a">
{% endblock %}

{% block content %}
{% let map = functions.get_map(log) %}
{% let duration = log.game_end() - log.game_start() %}
<div class="row mb-3">
    <div class="col">
        <h1 class="text-center display-5 mb-0"><strong>{{ mode.get_full_name() }} </strong> Game <small>{{ game_id
                }}</small>
        </h1>
    </div>
</div>
<div class="row g-3 align-items-stretch">
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="card w-100 h-100">
            <img src="/game-img/maps/{{ mode.get_database_id() }}/{{ map|map_file_name }}.png" class="card-img-top"
                alt="Map thumbnail">
            <div class="card-body">
                <h5 class="card-title text-center">{{ map }}</h5>
                <p class="card-text text-center"><small class="text-muted">
                        Screenshots: <a class="text-dark"
                            href="https://namemc.com/profile/755825c7f221403b9a0645d3debb9555">xqnnyz</a>, <a
                            class="text-dark"
                            href="https://namemc.com/profile/e5a4fcc78aa04c37a69d8bb1ff9d52b4">_Til</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-9">
        <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-center">
                <h2 class="display-6 text-center mb-3"><strong>Winner:</strong>
                    {% let winner = winner.as_ref() %}
                    {% if winner.is_some() %}
                    {% let team = winner.unwrap() %}
                    <strong style="color: {{ team.color }}">{{ team.name }}</strong>
                    {% else %}
                    Tie
                    {% endif %}
                </h2>
                <div class="d-flex justify-content-center flex-wrap gap-2">
                    <span class="text-outline gray"><i class="align-middle ri-server-fill"></i>
                        <span class="align-middle">{{ server.as_deref().unwrap_or("Unknown") }}</span>
                    </span>
                    <span class="text-outline gold"><i class="align-middle ri-parent-fill"></i>
                        <span class="align-middle">{{ total_players }}</span>
                    </span>
                    <span class="text-outline blue"><i class="align-middle ri-calendar-event-fill"></i>
                        <span class="align-middle"></span>
                        <script
                            type="text/javascript">document.write(new Date({{ log.game_start() }}).toLocaleString())</script>
                        <small>(Your time)</small>
                    </span>
                    <span class="text-outline darkgreen"><i class="align-middle ri-timer-line"></i>
                        <span class="align-middle">{{ duration|format_duration }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mt-1">
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="accordion" id="teams" style="border: none;">
            {% for team in teams %}
            <div class="accordion-item border rounded mb-2">
                <h2 class="accordion-header" id="accord-header-{{ team.name }}">
                    <button class="accordion-button team-info" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accord-data-{{ team.name }}" aria-expanded="true"
                        aria-controls="accord-data-{{ team.name }}">
                        <span style="color: {{team.color}}"><strong>{{ team.name }}</strong>
                            ({{ team.players.len() }})</span>
                        {% if functions.extension.supports_score() %}<span
                            class="badge rounded-pill float-end bg-{% if !log.has_winner() %}warning{% else if log.winner() == team.name %}success{% else %}danger{% endif %}">{{
                            team.score }}</span>
                        {% endif %}
                    </button>
                </h2>
                <div id="accord-data-{{ team.name }}" class="accordion-collapse collapse show"
                    aria-labelledby="accord-header-{{ team.name }}" data-bs-parent="#teams">
                    <div class="accordion-body">
                        <ul class="list-group">
                            {% for player in team.players %}
                            <li class="list-group-item">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="flex-shrink-0">
                                        {% if player.nick.is_some() && nicks_hidden %}
                                        <img alt="Skin" class="rounded" src="https://crafthead.net/avatar/c06f89064c8a49119c29ea1dbd1aab82"
                                            height="32" width="32">
                                        {% else %}
                                        <img alt="Skin" class="rounded"
                                            src="https://crafthead.net/helm/{{"{}"|format(player.uuid)}}" height="32"
                                            width="32">
                                        {% endif %}
                                    </div>
                                    <div class="flex-grow-1">
                                        {% if player.nick.is_some() && nicks_hidden %}
                                        <span class="align-middle">{{ player.nick.unwrap() }} <small>(<i>nick</i>)</small></span>
                                        {% else %}
                                        <span class="align-middle">
                                            {{ player.name }}
                                            {% if player.nick.is_some() && !nicks_hidden %}
                                            <small>({{ player.nick.unwrap() }})</small>
                                            {% endif %}
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 mb-3">
                    <p class="lead mb-0">Game events</p>
                    <div class="ms-md-auto">
                        <div class="btn-group flex-wrap" role="group" aria-label="Display controls">
                            <input type="radio" class="btn-check" name="events-ctrl" id="allevents" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-primary" for="allevents">All events</label>

                            <input type="radio" class="btn-check" name="events-ctrl" id="gameonly" autocomplete="off">
                            <label class="btn btn-outline-primary" for="gameonly">Game only</label>

                            <input type="radio" class="btn-check" name="events-ctrl" id="chatonly" autocomplete="off">
                            <label class="btn btn-outline-primary" for="chatonly">Chat only</label>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="events">
                    {% for time_evt in events %}
                    <li class="list-group-item {% if time_evt.is_chat() %}log-chat-entry{% else %}log-entry{% endif %}
                         d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 {{ functions.get_box_color(time_evt) }}">
                        <div class="flex-grow-1">
                            {% let match_evt = time_evt.get_raw_event() %}
                            {% let evt_id = time_evt.get_id() %}
                            {% match match_evt %}
                            {% when Chat with (chat) %}
                            {% let channel = time_evt.get_chat_channel(evt_id, chat, self) %}
                            {% match channel %}
                            {% when ChatChannel::Static with (name) %}
                            <span class="badge rounded-pill bg-dark text-white">{{ name }}</span>
                            {% when ChatChannel::Team with (name, color) %}
                            <span class="badge rounded-pill bg-dark text-white"
                                style="background-color: {{color}} !important;">{{ name }}</span>
                            {% when ChatChannel::None %}
                            {% endmatch %}
                            <span style="color: {{chat.sender()|team_color(player_teams, evt_id)}};"><strong>{{
                                    chat.sender()|player_name(self) }}</strong></span>:
                            {{ chat.message() }}
                            {% let count = chat.count() %}
                            {% if count > 1 %}
                            <span class="badge rounded-pill bg-warning text-dark">x{{ count }}</span>
                            {% endif %}
                            {% when Join with (join) %}
                            {% let jt = join.team() %}
                            {% let team = jt|team_from_idx(teams) %}
                            <i class="align-middle ri-user-add-fill"></i>
                            <strong>{{ join.player()|player_name(self) }}</strong> joined the <strong
                                style="color: {{team.color}};">{{ team.name }}</strong>
                            team.
                            {% when Leave with (leave) %}
                            <i class="align-middle ri-user-unfollow-fill"></i>
                            <strong style="color: {{leave.player()|team_color(player_teams, evt_id)}};">{{
                                leave.player()|player_name(self) }}</strong> left.
                            {% else %}
                            {% include "gamelogs/herd.html" %}
                            {% match mode %}
                            {% when GameMode::CAI %}
                            {% include "gamelogs/cai.html" %}
                            {% when GameMode::TIMV %}
                            {% include "gamelogs/timv.html" %}
                            {% when GameMode::BP %}
                            {% include "gamelogs/bp.html" %}
                            {% when GameMode::GRAV %}
                            {% include "gamelogs/grav.html" %}
                            {% when GameMode::BED %}
                            {% include "gamelogs/bed.html" %}
                            {% when GameMode::Halloween2023 %}
                            {% include "gamelogs/halloween.html" %}
                            {% when GameMode::Halloween2024 %}
                            {% include "gamelogs/halloween.html" %}
                            {% when GameMode::Halloween2025 %}
                            {% include "gamelogs/halloween.html" %}
                            {% when GameMode::Turf2026 %}
                            {% include "gamelogs/turf.html" %}
                            {% endmatch %}
                            {% endmatch %}
                        </div>
                        <span class="badge text-dark">{{ time_evt.get_time()|format_duration_i32 }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/game-static/js/gamelog.js"></script>
{% endblock %}
