{% match match_evt %}
{% when GravStageCompletion with (stage_completion) %}
<i class="align-middle ri-play-circle-fill"></i>
<span class="kig-player">
    <img class="kig-player-mini-avatar" alt=""
        src="https://crafthead.net/helm/{{ stage_completion.player()|player_uuid(self) }}" height="18" width="18">
    <strong class="kig-player-name">{{ stage_completion.player()|player_name(self) }}</strong>
</span> finished <strong data-bs-toggle="tooltip" data-bs-placement="top" title="{{
    stage_completion.stage_index()|grav_stage_name(extension) }}">Stage {{
    stage_completion.stage_index() + 1
    }}</strong> in <strong>{{ stage_completion.time()|grav_format_time}}</strong>.
{% if stage_completion.skipped() %}
<span class="badge rounded-pill bg-primary">Skipped</span>
{% endif %}
{% when GravGameFinish with (game_finish) %}
<i class="align-middle ri-star-fill"></i>
<span class="kig-player">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ game_finish.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong class="kig-player-name">{{ game_finish.player()|player_name(self) }}</strong>
</span> finished <strong>#{{ game_finish.place() }}</strong> in <strong>{{ game_finish.time()|grav_format_time}}</strong>.
{% when GravHardcoreFail with (hardcore_fail) %}
<i class="align-middle ri-close-line"></i>
<span class="kig-player">
    <img class="kig-player-mini-avatar" alt=""
        src="https://crafthead.net/helm/{{ hardcore_fail.player()|player_uuid(self) }}" height="18" width="18">
    <strong class="kig-player-name">{{ hardcore_fail.player()|player_name(self) }}</strong>
</span> died in <strong>Hardcore Mode</strong> on <strong data-bs-toggle="tooltip" data-bs-placement="top"
    title="{{ hardcore_fail.stage()|grav_stage_name(extension) }}">Stage {{
    hardcore_fail.stage() + 1
    }}</strong>.
{% if hardcore_fail.final_() %}
<span class="badge rounded-pill bg-danger">Eliminated</span>
{% endif %}
{% else %}
{% endmatch %}
