{% match match_evt %}
{% when HalloweenDeath with (death) %}
<i class="align-middle ri-close-line"></i>
{% if death.has_killer() %}
<span class="kig-player">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ death.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong class="kig-player-name">{{ death.player()|player_name(self) }}</strong>
</span>
was killed by
<span class="kig-player">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ death.killer()|player_uuid(self) }}"
        height="18" width="18">
    <strong class="kig-player-name">{{ death.killer()|player_name(self) }}</strong>
</span>.
{% else %}
<span class="kig-player">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ death.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong class="kig-player-name">{{ death.player()|player_name(self) }}</strong>
</span>
died.
{% endif %}
{% if death.has_last_damage_cause() %}
<span class="badge rounded-pill bg-secondary">{{ death.last_damage_cause().get_damage_desc() }}</span>
{% endif %}
{% else %}
{% endmatch %}
