{% match match_evt %}
{% when TimvTest with (test) %}
<i class="align-middle ri-eye-fill"></i>
<span class="kig-player" data-kig-player="{{ test.player()|player_key(self) }}"
    data-kig-uuid="{{ test.player()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ test.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{test.player()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        test.player()|player_name(self) }}</strong>
</span>
tested.
{% if test.spoofed() %}
<span class="badge rounded-pill bg-primary">Spoofed</span>
{% endif %}
{% when TimvTrap with (trap) %}
<span class="kig-player" data-kig-player="{{ trap.player()|player_key(self) }}"
    data-kig-uuid="{{ trap.player()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ trap.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{trap.player()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        trap.player()|player_name(self) }}</strong>
</span>
activated a
traitor trap.
{% when TimvBody with (body) %}
<i class="ri-search-eye-fill"></i>
<span class="kig-player" data-kig-player="{{ body.player()|player_key(self) }}"
    data-kig-uuid="{{ body.player()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ body.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{body.player()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        body.player()|player_name(self) }}</strong>
</span>'s body
was found
by
<span class="kig-player" data-kig-player="{{ body.identifier()|player_key(self) }}"
    data-kig-uuid="{{ body.identifier()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ body.identifier()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{body.identifier()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        body.identifier()|player_name(self) }}</strong>
</span>.
{% when TimvDeath with (death) %}
<i class="align-middle ri-close-line"></i>
{% if death.has_killer() %}
<span class="kig-player" data-kig-player="{{ death.player()|player_key(self) }}"
    data-kig-uuid="{{ death.player()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ death.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{death.player()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        death.player()|player_name(self) }}</strong>
</span>
was killed by
<span class="kig-player" data-kig-player="{{ death.killer()|player_key(self) }}"
    data-kig-uuid="{{ death.killer()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ death.killer()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{death.killer()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        death.killer()|player_name(self) }}</strong>
</span>.
{% else %}
<span class="kig-player" data-kig-player="{{ death.player()|player_key(self) }}"
    data-kig-uuid="{{ death.player()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ death.player()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{death.player()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        death.player()|player_name(self) }}</strong>
</span>
died.
{% endif %}
<span class="badge rounded-pill bg-secondary">{{ death.get_damage_desc() }}</span>
{% if death.has_assassin_target() && death.assassin_target() %}
<span class="badge rounded-pill bg-primary">Target</span>
{% endif %}
{% when TimvDetectiveBody with (detective) %}
<i class="ri-search-eye-fill"></i>
<span class="kig-player" data-kig-player="{{ detective.player()|player_key(self) }}"
    data-kig-uuid="{{ detective.player()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt=""
        src="https://crafthead.net/helm/{{ detective.player()|player_uuid(self) }}" height="18" width="18">
    <strong style="color: {{detective.player()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        detective.player()|player_name(self) }}</strong>
</span>'s body
was
inspected
by
<span class="kig-player" data-kig-player="{{ detective.identifier()|player_key(self) }}"
    data-kig-uuid="{{ detective.identifier()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}"
    tabindex="0">
    <img class="kig-player-mini-avatar" alt=""
        src="https://crafthead.net/helm/{{ detective.identifier()|player_uuid(self) }}" height="18" width="18">
    <strong style="color: {{detective.identifier()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        detective.identifier()|player_name(self) }}</strong>
</span>.
{% when TimvPsychicReport with (psychic) %}
<i class="ri-psychotherapy-fill"></i>
<span class="kig-player" data-kig-player="{{ psychic.psychic()|player_key(self) }}"
    data-kig-uuid="{{ psychic.psychic()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ psychic.psychic()|player_uuid(self) }}"
        height="18" width="18">
    <strong style="color: {{psychic.psychic()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        psychic.psychic()|player_name(self) }}</strong>
</span>
(Psychic) received
the report:
{% for reported in psychic.reported -%}
<span class="kig-player" data-kig-player="{{ reported|player_key(self) }}" data-kig-uuid="{{ reported|player_uuid(self) }}"
    data-kig-mode="{{ mode.get_database_id() }}" tabindex="0">
    <img class="kig-player-mini-avatar" alt="" src="https://crafthead.net/helm/{{ reported|player_uuid(self) }}"
        height="18" width="18">
    <strong class="kig-player-name">{{ reported|player_name(self) }}</strong>
</span>{% if !loop.last -%},&nbsp;{%- endif %}
{%- endfor %}
{% when TimvSharedPurchase with (shared_purchase) %}
<i class="ri-shopping-basket-fill"></i>
<span class="kig-player" data-kig-player="{{ shared_purchase.purchaser()|player_key(self) }}"
    data-kig-uuid="{{ shared_purchase.purchaser()|player_uuid(self) }}" data-kig-mode="{{ mode.get_database_id() }}"
    tabindex="0">
    <img class="kig-player-mini-avatar" alt=""
        src="https://crafthead.net/helm/{{ shared_purchase.purchaser()|player_uuid(self) }}" height="18" width="18">
    <strong style="color: {{shared_purchase.purchaser()|team_color(player_teams, evt_id)}};" class="kig-player-name">{{
        shared_purchase.purchaser()|player_name(self) }}</strong>
</span>
bought <strong>{{ shared_purchase.item() }}</strong>
{% when TimvRampageGoal with (rampage_goal) %}
{% let t = rampage_goal.team() %}
{% let team = t|team_from_idx_u32(teams) %}
<i class="ri-flag-fill"></i>
<strong style="color: {{team.color}};">{{ team.name }}</strong>
completed the
<strong>{{ rampage_goal.goal() }}</strong>
goal.
{% else %}
{% endmatch %}
